/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&amp;display=swap');

/* General Styling by Wildcard Selector */
* {
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: Montserrat, sans-serif;
    background-color: #252525;
    color: #ffffff;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header,
footer,
section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: smaller;
}

h1,
h2,
h4,
p {
    font-weight: 200;
    text-align: center;
    padding: 10px 10px;
}

p {
    font-size: medium;
    word-spacing: 1px;
}

.home-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

figure {
    position: relative;
    height: 590px;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0.9;
    overflow: hidden;
}

figure img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 1.7s;
    overflow: hidden;
}

figure img:hover {
    transform: scale(1.1);
}

figcaption {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: x-large;
    font-weight: lighter;
    background-color: hsla(0, 0%, 0%, 0.7);
    padding: 10px 15px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

.logo {
    display: flex;
    font-weight: 300;
    font-size: 1.5rem;
    margin: 10px 0;
}

nav>ul,
footer>ul {
    text-transform: uppercase;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 0 20px 0;
    gap: 15px;
}

nav a:hover {
    color: #ad8e70;
}

#active {
    border-bottom: 1px solid rgb(173, 142, 112);
}

a {
    color: #FFF;
    text-decoration: none;
    font-weight: lighter;
}

hr {
    width: 50%;
    margin: 30px auto 0 auto;
    border: none;
    border-top: 1px solid #999;
}

footer li a {
    font-size: xx-large;
    color: #ae8e70;
    gap: 20px;
}

footer p {
    margin: 0 0 5px 0;
}

.contact-us {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 2px;
}

.contact-us a {
    color: #ad8e70;
    font-size: 0.9rem;
    font-weight: 500;
}

/* Begin of Gallery  */

.gallery-container {
    opacity: 0.9;
    columns: 3 300px;
}

.gallery-container img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 1.7s;
    overflow: hidden;
}

.gallery-container img:hover {
    transform: scale(1.1);
}

.img-wrapper {
    overflow: hidden;
    width: 100%;
    margin: 0px 15px 15px 0px;
    border-radius: 10px;
}

/* End of Gallery */

/* Begin of Contact.html */

#contact-page {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
}

.contact-form {
    width: 90%;
}

.contact-paragraph {
    background-image: url(../assets/images/contact-form-background-photo-telefon-box.jpg);
    background-size: cover;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-repeat: no-repeat;
    align-content: center;
}

.contact-paragraph h1,
.contact-paragraph p {
    background-color: #000000a1;
    font-weight: 300;
    margin: 0;
}



input,
textarea,
button {
    border: 2px solid #ad8e70;
    width: 99%;
    height: 40px;
    border-radius: 4px;
    margin: 20px auto 20px auto;
    outline: none;

}

::placeholder {
    color: #000;
    font-size: small;
    text-align: center;
    opacity: 0.5;
}

textarea {
    height: 200px;
}

button {
    width: 100px;
    height: 50px;
    color: #252525;
    padding: 15px;
    background-color: #ad8e70;
    color: #fff;
}

button:hover {
    background-color: #252525;
    color: #ffffff;
}

/* End of Contact.html */

/* Begin of Responsive Tablet and Desktop Version */

/* Tablet */
@media (min-width: 768px) {
    body {
        padding: 1vw 5vw;
    }

    header {
        display: flex;
        flex-direction: row;
        font-size: medium;
        padding-bottom: 1vw;
    }

    .logo {
        margin-right: auto;
    }

    .home-images {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    section p {
        font-size: x-large;
        max-width: 1000px;
    }

    footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #copyright {
        width: 100%;
    }

    .gallery-container {
        width: auto;
        columns: 3;
    }

    .contact-paragraph {
        background-image: url(../assets/images/contact-form-background-photo-telefon-box.jpg);
        background-size: cover;
        background-position: top;
        width: 100%;
        height: 700px;
        background-repeat: no-repeat;
        align-content: center;
        border-radius: 20px;
    }

    #contact-page {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 1%;
        margin: auto;
    }

    .contact-form {
        width: 90%;
    }

    hr.vertical {
        width: 2px;
        height: 700px;
        background-color: #ffffff;
    }

    hr.vertical {
        width: 2px;
        height: 700px;
        background-color: #ffffff;
        margin: 0 5px;
    }

    input,
    textarea,
    button {
        margin: 10px auto;
        padding: 10px 0;
    }

    #contactformtitle {
        text-align: left;
        font-weight: 200;
        padding: 10px 0;
    }
}


/* Laptop */

@media (min-width: 1024px) {

    body {
        padding: 1vw 10vw;
    }

    .gallery-container {
        columns: 3;
    }
}

/* 4K- 2560 */

@media (min-width: 2560px) {

    figure {
        width: 100%;
        height: auto;
    }

    section {
        font-size: xx-large;
    }
    
    footer a {
        font-size: x-large;
    }

    .logo, nav>ul, footer>ul {

        font-size: x-large;
        }
}