/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&amp;display=swap');

/* General Styling by Wildcard Selector */
* {
    padding: 0;
    margin: 0;
    
}

html, body {
    font-family: Montserrat, sans-serif;
    background-color: #252525;
    color: #ffffff;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header, footer, section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: smaller;
    margin: 20px 0;    
}

section > h1, h4, p {
    font-weight: 200;
    text-align: center;
    padding: 10px 10px;
}

.home-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

figure {
    position: relative;
    height: 590px;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0.9;
    overflow: hidden;
}

figure img {
    height: 100%;
    object-fit: cover;
    transition: transform 1.7s;
    overflow: hidden;
}

figure img:hover {
  transform: scale(1.1);
}

figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: large;
    font-weight: lighter;
    background-color: hsla(0, 0%, 0%, 0.7);
    padding: 10px;
    border-radius: 10px;
}

.logo {
    display:flex;
    font-weight: 300;
    font-size: 1.5rem;
    margin: 10px 0;
}
nav > ul, footer > ul {
    text-transform: uppercase;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 0;
    gap: 15px;
}

nav a:hover {
    color: #ad8e70;
}

#active {
    border-bottom: 1px solid rgb(173, 142, 112);
}

a {
    color: #FFF;
    text-decoration: none;
    font-weight: lighter;
}

hr {
    width: 50%;
    margin: 30px auto 0 auto;
    border: none;
    border-top: 1px solid #999;
}

footer li a {
    font-size:xx-large;
    color: #ae8e70;
    gap: 20px;
}

footer p {
    padding: 0;
}

/* Gallery  */

.gallery-container {
    width: min(1000px, 100%);
    margin: 0 auto;
    opacity: 0.9;
    columns: 3 300px;
    column-gap: 1em;

}

.gallery-container img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 1.7s;
    overflow: hidden;
    transform-origin: center center;
}

.gallery-container img:hover {
    transform: scale(1.1);
  }

  .img-wrapper {
    overflow: hidden;
    width: 100%;
    margin: 0px 15px 15px 0px;
    border-radius: 10px;
}